.lui-banner
  background-position center 100%
  background-repeat no-repeat
  background url('/img/hero-background.svg') top center,  linear-gradient(rgb(19, 15, 33), rgb(34, 33, 63)) 0% 0% / cover rgb(19, 15, 33)
  color rgb(255, 255, 255)
  min-height 35vh
  padding 6rem 2rem
  position relative
  text-align center
  z-index 100

  h1, h2
    color #fff
    margin 0 auto

  p
    color #fff
    font-size 1rem
    max-width: 48rem;
    opacity .6

  a
    border-color rgb(95, 87, 173)
    border-radius 8px
    border-style solid
    border-width 1px
    color rgb(255, 255, 255)
    display inline-block
    font-family source-sans-pro, sans-serif
    font-size 0.875rem
    font-weight 400
    letter-spacing 0.1em
    margin 0px 0.75rem
    padding 1rem 2rem
    position relative
    text-transform uppercase
    top 0
    transition top 0.2s ease-in
    &.filled
      background-color rgb(95, 87, 173)
    &:hover
      top -3px
