.lui-footer
  background #130f21
  color rgba(255, 255, 255, .6)
  cursor pointer
  font-size .85em
  font-weight 300
  letter-spacing 0.12em
  line-height 1.5em
  padding 60px
  position relative
  text-align center
  text-transform uppercase
  a
    color white
