.lui-header
  -webkit-box-align center
  -webkit-box-pack justify
  align-items center
  background rgb(19, 15, 33)
  display flex
  font-family Lato
  flex-wrap wrap
  justify-content space-between
  padding 10px 30px
  position relative
  z-index 100

  > a.logo
    color white
    font-size 1.5em
    font-weight 900

  > ul.nav > a
    color #fff
    cursor pointer
    display inline-block
    font-size .85em
    font-weight 900
    letter-spacing 0.12em
    padding 0px 15px
    position relative
    text-transform uppercase
    top 0
    transition top .2s ease-in
    &:hover
      top -3px
