.lui-story
  padding-bottom 200px

.lui-story-sidebar
  background #fff
  bottom 0
  box-sizing border-box
  left 0
  overflow auto
  padding 20px
  position fixed
  text-align left
  top 0
  width 260px
  a
    color rgba(0, 0, 0, .6)
    display block
    padding 4px 20px
    &.active
      background #5f57ad
      color #fff
    &:not(.active):hover
      background rgba(0, 0, 0, .1)
  h3 > a
    margin-left 0

.lui-story-content
  box-sizing border-box
  margin-left 260px
  max-width 90%
  padding 20px
  text-align left
  width 800px
  .divider
    background rgba(0, 0, 0, .6)
    height 1px
    margin 80px 0
    width 100%
